<div id="component">
  <mat-form-field appearance='outline'>
    <mat-label>Teste</mat-label>
    <input matInput [value]='dtValue' [owlDateTime]="dtPicker" [owlDateTimeTrigger]="dtPicker" [(ngModel)]='dtValue' (ngModelChange)='dtValueChange.emit(dtValue)'>
    <mat-icon matSuffix [owlDateTimeTrigger]='dtPicker'>calendar_today</mat-icon>
    <owl-date-time #dtPicker [showSecondsTimer]=true></owl-date-time>
  </mat-form-field>
  <br><br>
  <button mat-flat-button color='primary' (click)='logData()'>Log Data Int</button>
  <br>
</div>
